# MANAGED_BY_ANSIBLE
{% if grafana_db_password is defined %}
[database]
host = {{ grafana_db_host }}
name = {{ grafana_db_dbname }}
password = {{ grafana_db_password }}
ssl_mode = {{ grafana_db_ssl_mode }}
type = {{ grafana_db_type }}
user = {{ grafana_db_username }}
{% endif %}

[paths]
data = {{ grafana_dir_lib }}
logs = {{ grafana_dir_log }}
plugins = {{ grafana_dir_lib }}/plugins

[plugins]
allow_loading_unsigned_plugins = false

[security]
admin_user = {{ grafana_admin_username }}
admin_password = {{ grafana_admin_password }}
allow_embedding = {{ grafana_allow_embedding | bool | lower }}

[server]
http_port = {{ grafana_port_http }}
