# MANAGED_BY_ANSIBLE
[Unit]
Description=Grafana Server

[Service]
WorkingDirectory={{ grafana_dir_bin }}/grafana
ExecStart={{ grafana_dir_bin }}/grafana/bin/grafana-server --config {{ grafana_config_file }}
User={{ grafana_user }}
Group={{ grafana_user }}

[Install]
WantedBy=multi-user.target
